-- MySQL dump 10.13  Distrib 8.0.28, for Linux (x86_64)
--
-- Host: localhost    Database: stackup
-- ------------------------------------------------------
-- Server version	8.0.28

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `account`
--

DROP TABLE IF EXISTS `account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account` (
  `account_id` bigint NOT NULL AUTO_INCREMENT,
  `account_name` varchar(255) DEFAULT NULL,
  `account_num` varchar(255) DEFAULT NULL,
  `balance` bigint DEFAULT NULL,
  `bank_code` varchar(255) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `created_date` varchar(255) DEFAULT NULL,
  `expiry_date` varchar(255) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`account_id`),
  KEY `FK7m8ru44m93ukyb61dfxw0apf6` (`user_id`),
  CONSTRAINT `FK7m8ru44m93ukyb61dfxw0apf6` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account`
--

LOCK TABLES `account` WRITE;
/*!40000 ALTER TABLE `account` DISABLE KEYS */;
/*!40000 ALTER TABLE `account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `applicant`
--

DROP TABLE IF EXISTS `applicant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `applicant` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `applied_date` datetime(6) NOT NULL,
  `is_passed` bit(1) NOT NULL,
  `board_id` bigint DEFAULT NULL,
  `freelancer_id` bigint NOT NULL,
  `freelancer_proejct_id` bigint DEFAULT NULL,
  `freelancer_project_id` bigint DEFAULT NULL,
  `is_final_client_evaluated` bit(1) NOT NULL,
  `is_final_freelancer_evaluated` bit(1) NOT NULL,
  `is_middle_client_evaluated` bit(1) NOT NULL,
  `is_middle_freelancer_evaluated` bit(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKiyotfr36wbk26vhijxf1mtmfw` (`freelancer_proejct_id`),
  UNIQUE KEY `UK64c3fmikmhaaw6w9ea2ksmctl` (`freelancer_project_id`),
  KEY `FKev2gx1fm5t4c2uyabn0dhut9e` (`board_id`),
  KEY `FK8q39no10x582u6annbofprto5` (`freelancer_id`),
  CONSTRAINT `FK5ummf54vjtm3tm6qorm118p4p` FOREIGN KEY (`freelancer_project_id`) REFERENCES `freelancer_project` (`id`),
  CONSTRAINT `FK8q39no10x582u6annbofprto5` FOREIGN KEY (`freelancer_id`) REFERENCES `freelancer` (`user_id`),
  CONSTRAINT `FKev2gx1fm5t4c2uyabn0dhut9e` FOREIGN KEY (`board_id`) REFERENCES `board` (`board_id`),
  CONSTRAINT `FKqnc4r0egploproep71xnqwdcr` FOREIGN KEY (`freelancer_proejct_id`) REFERENCES `freelancer_project` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=114 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `applicant`
--

LOCK TABLES `applicant` WRITE;
/*!40000 ALTER TABLE `applicant` DISABLE KEYS */;
/*!40000 ALTER TABLE `applicant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `board`
--

DROP TABLE IF EXISTS `board`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `board` (
  `board_id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `applicants` bigint DEFAULT NULL,
  `classification` varchar(255) DEFAULT NULL,
  `deadline` date NOT NULL,
  `deposit` bigint NOT NULL,
  `description` varchar(255) NOT NULL,
  `is_charged` bit(1) DEFAULT NULL,
  `level` varchar(255) DEFAULT NULL,
  `period` varchar(255) NOT NULL,
  `recruits` bigint NOT NULL,
  `requirements` varchar(255) NOT NULL,
  `start_date` date NOT NULL,
  `title` varchar(255) NOT NULL,
  `upload` date DEFAULT NULL,
  `worktype` bit(1) NOT NULL,
  `client_id` bigint NOT NULL,
  PRIMARY KEY (`board_id`),
  KEY `FKpp56s3n5bt22f0a81bf8f149r` (`client_id`),
  CONSTRAINT `FKpp56s3n5bt22f0a81bf8f149r` FOREIGN KEY (`client_id`) REFERENCES `client` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=131 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `board`
--

LOCK TABLES `board` WRITE;
/*!40000 ALTER TABLE `board` DISABLE KEYS */;
/*!40000 ALTER TABLE `board` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `board_applicant`
--

DROP TABLE IF EXISTS `board_applicant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `board_applicant` (
  `board_id` bigint NOT NULL,
  `applicant_id` bigint NOT NULL,
  KEY `FKeme5pfvwomqi8epwmdwj5phq2` (`applicant_id`),
  KEY `FKh88e8f7efp5b3ctal5jtkbhn7` (`board_id`),
  CONSTRAINT `FKeme5pfvwomqi8epwmdwj5phq2` FOREIGN KEY (`applicant_id`) REFERENCES `applicant` (`id`),
  CONSTRAINT `FKh88e8f7efp5b3ctal5jtkbhn7` FOREIGN KEY (`board_id`) REFERENCES `board` (`board_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `board_applicant`
--

LOCK TABLES `board_applicant` WRITE;
/*!40000 ALTER TABLE `board_applicant` DISABLE KEYS */;
/*!40000 ALTER TABLE `board_applicant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `board_framework`
--

DROP TABLE IF EXISTS `board_framework`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `board_framework` (
  `board_framework_id` bigint NOT NULL AUTO_INCREMENT,
  `board_id` bigint DEFAULT NULL,
  `framwork_id` bigint DEFAULT NULL,
  `framework_id` bigint DEFAULT NULL,
  PRIMARY KEY (`board_framework_id`),
  KEY `FK4k5jb8iefk6busy8qgod24wv5` (`board_id`),
  KEY `FK3cwafdfrpf4v2v4ukyva113im` (`framwork_id`),
  KEY `FKj11llhpfglv9qdsacayoaicba` (`framework_id`),
  CONSTRAINT `FK3cwafdfrpf4v2v4ukyva113im` FOREIGN KEY (`framwork_id`) REFERENCES `framework` (`framework_id`),
  CONSTRAINT `FK4k5jb8iefk6busy8qgod24wv5` FOREIGN KEY (`board_id`) REFERENCES `board` (`board_id`),
  CONSTRAINT `FKj11llhpfglv9qdsacayoaicba` FOREIGN KEY (`framework_id`) REFERENCES `framework` (`framework_id`)
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `board_framework`
--

LOCK TABLES `board_framework` WRITE;
/*!40000 ALTER TABLE `board_framework` DISABLE KEYS */;
/*!40000 ALTER TABLE `board_framework` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `board_language`
--

DROP TABLE IF EXISTS `board_language`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `board_language` (
  `board_language_id` bigint NOT NULL AUTO_INCREMENT,
  `board_id` bigint DEFAULT NULL,
  `language_id` bigint DEFAULT NULL,
  PRIMARY KEY (`board_language_id`),
  KEY `FKqwujw670nx3d2i0do2r8ij7a2` (`board_id`),
  KEY `FKc56fgdp328o5826koqy7cj9a2` (`language_id`),
  CONSTRAINT `FKc56fgdp328o5826koqy7cj9a2` FOREIGN KEY (`language_id`) REFERENCES `language` (`language_id`),
  CONSTRAINT `FKqwujw670nx3d2i0do2r8ij7a2` FOREIGN KEY (`board_id`) REFERENCES `board` (`board_id`)
) ENGINE=InnoDB AUTO_INCREMENT=114 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `board_language`
--

LOCK TABLES `board_language` WRITE;
/*!40000 ALTER TABLE `board_language` DISABLE KEYS */;
/*!40000 ALTER TABLE `board_language` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat`
--

DROP TABLE IF EXISTS `chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat` (
  `chat_id` bigint NOT NULL AUTO_INCREMENT,
  `chat_content` varchar(255) DEFAULT NULL,
  `chat_regist_time` datetime(6) DEFAULT NULL,
  `chatroom_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `message` varchar(255) DEFAULT NULL,
  `chat_room_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`chat_id`),
  KEY `FK4td2hmv9roc3wnj1cg2023sgt` (`chatroom_id`),
  KEY `FK3rey0h7240vbk7odnpw75d87o` (`user_id`),
  CONSTRAINT `FK3rey0h7240vbk7odnpw75d87o` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `FK4td2hmv9roc3wnj1cg2023sgt` FOREIGN KEY (`chatroom_id`) REFERENCES `chat_room` (`chatroom_id`)
) ENGINE=InnoDB AUTO_INCREMENT=242 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat`
--

LOCK TABLES `chat` WRITE;
/*!40000 ALTER TABLE `chat` DISABLE KEYS */;
INSERT INTO `chat` VALUES (1,NULL,NULL,11,11,'1312323',NULL),(2,NULL,NULL,13,17,'1234',NULL),(3,NULL,NULL,13,17,'21312312',NULL),(4,NULL,NULL,13,17,'dsfsfds',NULL),(5,NULL,NULL,13,17,'21312',NULL),(6,NULL,'2024-10-07 15:38:58.713000',14,17,'123214',NULL),(7,NULL,'2024-10-07 15:41:55.652000',14,17,'sdfsadf',NULL),(8,NULL,'2024-10-07 15:44:02.418000',12,11,'?뗣꽮?뉎뀑??,NULL),(9,NULL,'2024-10-07 15:45:49.193000',16,11,'sdfsdf',NULL),(10,NULL,'2024-10-07 15:49:01.766000',14,17,'?뉎꽩?밤꽩?뉎꽮',NULL),(11,NULL,'2024-10-07 16:01:56.306000',17,18,'sdfsdfsadf',NULL),(12,NULL,'2024-10-07 16:01:58.821000',17,18,'sdfdsfsdf',NULL),(13,NULL,'2024-10-07 16:02:00.310000',17,18,'sdfsdfsdaf',NULL),(14,NULL,'2024-10-07 16:02:57.550000',17,18,'sdasfsdf',NULL),(15,NULL,'2024-10-07 16:03:21.764000',19,18,'sdf',NULL),(16,NULL,'2024-10-07 16:03:24.578000',18,18,'sdfdsf',NULL),(17,NULL,'2024-10-07 16:03:28.355000',18,18,'sdfdfdfdfdsafdsaf',NULL),(18,NULL,'2024-10-07 16:03:30.959000',18,18,'sdfdsfdsafdsafdsf',NULL),(19,NULL,'2024-10-07 16:14:54.617000',14,17,'213132',NULL),(20,NULL,'2024-10-07 16:14:57.571000',14,17,'11111',NULL),(21,NULL,'2024-10-07 16:21:17.468000',17,18,'dffdsf',NULL),(22,NULL,'2024-10-08 00:50:06.912000',17,18,'?룔꽨?룔꽨',NULL),(23,NULL,'2024-10-08 00:50:22.776000',17,18,'?룔꽨?덀꽬??,NULL),(24,NULL,'2024-10-08 00:59:26.794000',17,18,'?룔꽦??,NULL),(25,NULL,'2024-10-08 00:59:40.992000',17,18,'?덀꽬??111111',NULL),(26,NULL,'2024-10-08 01:00:06.883000',17,18,'111111',NULL),(27,NULL,'2024-10-08 01:00:42.651000',17,18,'11',NULL),(28,NULL,NULL,NULL,14,'123','15_22'),(29,NULL,NULL,NULL,14,'123','15_22'),(30,NULL,NULL,NULL,14,'?곥꽩??,'15_22'),(31,NULL,NULL,NULL,15,'?곥뀋??,'15_22'),(32,NULL,NULL,NULL,15,'?곥꽩??,'15_22'),(33,NULL,NULL,NULL,15,'?곥꽩?뉎뀅?뉎뀅?담뀋?곥꽩??,'15_22'),(34,NULL,NULL,NULL,14,'?곥꽩?뉎뀅?담뀋','15_22'),(35,NULL,NULL,NULL,14,'?곥꽩?곥꽩??,'15_22'),(36,NULL,NULL,NULL,14,'?곥꽩?뉎뀅??,'15_22'),(37,NULL,NULL,NULL,14,'?곥뀅?곥뀅??,'15_22'),(38,NULL,NULL,NULL,15,'?담뀅??,'15_22'),(39,NULL,NULL,NULL,15,'?곥꽩??,'15_22'),(40,NULL,NULL,NULL,14,'?곥꽩?곥꽩??,'15_22'),(41,NULL,NULL,NULL,14,'?곥꽩??,'15_22'),(42,NULL,NULL,NULL,14,'?곥꽩??,'15_22'),(43,NULL,NULL,NULL,14,'?덈뀞','15_22'),(44,NULL,NULL,NULL,14,'?곥꽩','15_22'),(45,NULL,NULL,NULL,15,'?롢뀋?롢뀋','15_22'),(46,NULL,NULL,NULL,14,'?뚯뒪??,'15_22'),(47,NULL,NULL,NULL,14,'test','15_22'),(48,NULL,NULL,NULL,14,'?꾩넚','15_22'),(49,NULL,NULL,NULL,14,'?꾩넚','15_22'),(50,NULL,NULL,NULL,14,'?꾩넚?꾩넚','15_22'),(51,NULL,NULL,NULL,14,'?ㅼ삤?ㅼ삤','15_22'),(52,NULL,NULL,NULL,15,'援욧동','15_22'),(53,NULL,NULL,NULL,15,'?ㅼ샊','15_22'),(54,NULL,NULL,NULL,15,'?곥꽩??,'15_22'),(55,NULL,NULL,NULL,15,'?담꽩','15_22'),(56,NULL,NULL,NULL,15,'?곥꽩??,'15_22'),(57,NULL,NULL,NULL,15,'?곥꽩??,'15_22'),(58,NULL,NULL,NULL,15,'?곥뀋??,'15_22'),(59,NULL,NULL,NULL,15,'?곥꽩??,'15_22'),(60,NULL,NULL,NULL,15,'?곥꽩??,'15_22'),(61,NULL,NULL,NULL,15,'??,'15_22'),(62,NULL,NULL,NULL,15,'?뉖》','15_22'),(63,NULL,NULL,NULL,15,'?곥꽩??,'15_22'),(64,NULL,NULL,NULL,15,'?뉎뀅??,'15_22'),(65,NULL,NULL,NULL,15,'?곥뀋??,'15_22'),(66,NULL,NULL,NULL,15,'123','15_22'),(67,NULL,NULL,NULL,15,'345','15_22'),(68,NULL,NULL,NULL,15,'sdf','15_22'),(69,NULL,NULL,NULL,15,'sf','15_22'),(70,NULL,NULL,NULL,15,'sdf','15_22'),(71,NULL,NULL,NULL,15,'sfd','15_22'),(72,NULL,NULL,NULL,15,'?담뀋??,'15_22'),(73,NULL,NULL,NULL,15,'?담뀋??,'15_22'),(74,NULL,NULL,NULL,15,'?담꽩?담꽩','15_22'),(75,NULL,NULL,NULL,15,'?밤꽮','15_22'),(76,NULL,NULL,NULL,15,'?곥뀋??,'15_22'),(77,NULL,NULL,NULL,15,'?뉎뀅','15_22'),(78,NULL,NULL,NULL,14,'111','15_22'),(79,NULL,NULL,NULL,14,'123','15_22'),(80,NULL,NULL,NULL,14,'123','15_22'),(81,NULL,NULL,NULL,15,'wtr','15_22'),(82,NULL,NULL,NULL,15,'?덀꽮','15_22'),(83,NULL,NULL,NULL,15,'?덀꽦??,'15_22'),(84,NULL,'2024-10-09 14:27:17.000000',NULL,15,'?볝꽮','15_22'),(85,NULL,'2024-10-09 14:27:19.000000',NULL,15,'??,'15_22'),(86,NULL,'2024-10-09 14:27:24.000000',NULL,15,'?담??담뀋?','15_22'),(87,NULL,'2024-10-09 14:27:35.000000',NULL,15,'?곥꽩?뉎꽮','15_22'),(88,NULL,'2024-10-09 14:27:36.000000',NULL,15,'?곥꽮??,'15_22'),(89,NULL,'2024-10-09 14:27:40.000000',NULL,14,'?뉎뀅??,'15_22'),(90,NULL,'2024-10-09 14:27:47.000000',NULL,14,'?담뀋??,'15_22'),(91,NULL,'2024-10-09 14:27:48.000000',NULL,14,'?담뀋??,'15_22'),(92,NULL,'2024-10-09 14:27:49.000000',NULL,14,'?담꽮','15_22'),(93,NULL,'2024-10-09 14:27:50.000000',NULL,14,'?담꽮','15_22'),(94,NULL,'2024-10-09 14:27:50.000000',NULL,14,'??,'15_22'),(95,NULL,'2024-10-09 14:27:51.000000',NULL,14,'??,'15_22'),(96,NULL,'2024-10-09 14:27:51.000000',NULL,14,'??,'15_22'),(97,NULL,'2024-10-09 14:27:51.000000',NULL,14,'??,'15_22'),(98,NULL,'2024-10-09 15:22:28.000000',NULL,1,'2131321','1_6'),(99,NULL,'2024-10-09 15:22:45.000000',NULL,1,'213123213212312211321','1_6'),(100,NULL,'2024-10-09 15:22:45.000000',NULL,1,'213123213212312211321','1_6'),(101,NULL,'2024-10-09 15:23:05.000000',NULL,1,'23e123','1_6'),(102,NULL,'2024-10-09 15:23:54.000000',NULL,1,'21312','1_6'),(103,NULL,'2024-10-09 15:23:56.000000',NULL,1,'111','1_6'),(104,NULL,'2024-10-09 15:24:45.000000',NULL,1,'12321321','1_6'),(105,NULL,'2024-10-09 15:24:47.000000',NULL,1,'1111','1_6'),(106,NULL,'2024-10-09 15:24:49.000000',NULL,1,'1111111','1_6'),(107,NULL,'2024-10-09 15:28:32.000000',NULL,1,'12312211','1_6'),(108,NULL,'2024-10-09 15:28:34.000000',NULL,1,'1111','1_6'),(109,NULL,'2024-10-09 15:47:56.000000',NULL,14,'13','15_22'),(110,NULL,'2024-10-09 16:42:56.000000',NULL,15,'fsda','15_22'),(111,NULL,'2024-10-09 16:43:49.000000',NULL,15,'yh5yh','15_22'),(112,NULL,'2024-10-09 18:09:05.000000',NULL,1,'123132','1_6'),(113,NULL,'2024-10-09 18:09:08.000000',NULL,1,'11111','1_6'),(114,NULL,'2024-10-09 18:09:19.000000',NULL,15,'?담뀋??담뀋??담뀋?','15_22'),(115,NULL,'2024-10-09 18:09:34.000000',NULL,15,'?담뀋?','15_22'),(116,NULL,'2024-10-09 18:09:36.000000',NULL,1,'111111','1_6'),(117,NULL,'2024-10-09 18:09:38.000000',NULL,1,'1231212312312','1_6'),(118,NULL,'2024-10-09 18:09:51.000000',NULL,1,'123213211221312312','1_6'),(119,NULL,'2024-10-09 18:14:28.000000',NULL,15,'wter','15_22'),(120,NULL,'2024-10-09 18:14:28.000000',NULL,1,'1231231','1_6'),(121,NULL,'2024-10-09 18:14:31.000000',NULL,1,'1111111111111111111111111','1_6'),(122,NULL,'2024-10-09 18:14:50.000000',NULL,1,'1232131231232121','1_6'),(123,NULL,'2024-10-09 18:15:06.000000',NULL,15,'asdasdasd','15_22'),(124,NULL,'2024-10-09 18:16:40.000000',NULL,15,'wtr','15_22'),(125,NULL,'2024-10-09 18:16:44.000000',NULL,15,'wert','15_22'),(126,NULL,'2024-10-09 18:16:45.000000',NULL,15,'wert','15_22'),(127,NULL,'2024-10-09 18:16:46.000000',NULL,15,'wert','15_22'),(128,NULL,'2024-10-09 18:24:41.000000',NULL,15,'wertwrt','15_22'),(129,NULL,'2024-10-09 18:24:45.000000',NULL,15,'wrtwert','15_22'),(130,NULL,'2024-10-09 18:24:49.000000',NULL,15,'111','15_22'),(131,NULL,'2024-10-09 19:57:07.000000',NULL,15,'wre','15_22'),(132,NULL,'2024-10-09 20:17:22.000000',NULL,1,'dsfsdfssdfsdf','1_6'),(133,NULL,'2024-10-09 20:17:25.000000',NULL,1,'sfsdfs','1_6'),(134,NULL,'2024-10-09 20:17:27.000000',NULL,1,'ssss','1_6'),(135,NULL,'2024-10-09 20:17:30.000000',NULL,1,'sssssssssssssssssss','1_6'),(136,NULL,'2024-10-09 20:24:28.000000',NULL,15,'?곥꽩?뉎꽰?담뀋??,'15_22'),(137,NULL,'2024-10-09 20:24:46.000000',NULL,15,'?곥꽩?뉎꽮','15_22'),(138,NULL,'2024-10-09 20:24:50.000000',NULL,15,'11','15_22'),(139,NULL,'2024-10-09 20:24:52.000000',NULL,15,'22','15_22'),(140,NULL,'2024-10-09 20:29:33.000000',NULL,15,'?덀꽬??,'15_22'),(141,NULL,'2024-10-09 20:45:47.000000',NULL,15,'?룔꽨','15_22'),(142,NULL,'2024-10-09 20:45:50.000000',NULL,15,'?덀꽦','15_22'),(143,NULL,'2024-10-09 20:46:13.000000',NULL,15,'?덀꽬??,'15_22'),(144,NULL,'2024-10-09 20:46:17.000000',NULL,15,'??,'15_22'),(145,NULL,'2024-10-09 20:48:31.000000',NULL,15,'1234123','15_22'),(146,NULL,'2024-10-09 20:48:51.000000',NULL,1,'12321321','1_6'),(147,NULL,'2024-10-09 20:48:53.000000',NULL,1,'1111','1_6'),(148,NULL,'2024-10-09 20:48:55.000000',NULL,1,'2123123231','1_6'),(149,NULL,'2024-10-09 20:50:57.000000',NULL,15,'?귙뀍?룔뀆?덀꽬','15_22'),(150,NULL,'2024-10-09 20:54:00.000000',NULL,1,'12321321','1_6'),(151,NULL,'2024-10-09 20:54:03.000000',NULL,1,'1231331','1_6'),(152,NULL,'2024-10-09 20:54:05.000000',NULL,1,'123123124124','1_6'),(153,NULL,'2024-10-09 20:54:08.000000',NULL,1,'11111111111111111111111','1_6'),(154,NULL,'2024-10-09 21:03:22.000000',NULL,1,'21321321321123231','1_6'),(155,NULL,'2024-10-09 21:08:12.000000',NULL,15,'?귙뀍?룔꽦','15_22'),(156,NULL,'2024-10-09 21:08:42.000000',NULL,15,'?담뀋??,'15_22'),(157,NULL,'2024-10-09 21:18:57.000000',NULL,1,'1232132','1_6'),(158,NULL,'2024-10-09 21:18:59.000000',NULL,1,'12313','1_6'),(159,NULL,'2024-10-09 21:19:08.000000',NULL,1,'1231231','1_6'),(160,NULL,'2024-10-09 21:19:11.000000',NULL,1,'123123','1_6'),(161,NULL,'2024-10-09 21:19:22.000000',NULL,1,'21312313','1_6'),(162,NULL,'2024-10-09 21:19:24.000000',NULL,1,'12313131','1_6'),(163,NULL,'2024-10-09 21:19:33.000000',NULL,1,'213131','1_6'),(164,NULL,'2024-10-09 21:19:40.000000',NULL,1,'213131','1_6'),(165,NULL,'2024-10-09 21:19:57.000000',NULL,1,'1231232132131','1_6'),(166,NULL,'2024-10-09 21:20:00.000000',NULL,1,'213213','1_6'),(167,NULL,'2024-10-09 21:20:02.000000',NULL,1,'12312312','1_6'),(168,NULL,'2024-10-09 21:20:05.000000',NULL,1,'21321312','1_6'),(169,NULL,'2024-10-09 21:25:00.000000',NULL,15,'??,'15_22'),(170,NULL,'2024-10-09 21:25:12.000000',NULL,15,'??,'15_22'),(171,NULL,'2024-10-09 21:25:15.000000',NULL,15,'?곥꽩','15_22'),(172,NULL,'2024-10-09 21:27:59.000000',NULL,15,'?담뀋??,'15_22'),(173,NULL,'2024-10-09 21:33:43.000000',NULL,15,'qwerdqwedr','15_22'),(174,NULL,'2024-10-09 21:37:06.000000',NULL,15,'?곥꽩??,'15_20'),(175,NULL,'2024-10-09 21:37:10.000000',NULL,15,'1111','15_20'),(176,NULL,'2024-10-09 21:43:15.000000',NULL,1,'213123','1_6'),(177,NULL,'2024-10-09 21:43:16.000000',NULL,1,'213','1_6'),(178,NULL,'2024-10-09 21:43:16.000000',NULL,1,'123','1_6'),(179,NULL,'2024-10-09 21:43:16.000000',NULL,1,'123123','1_6'),(180,NULL,'2024-10-09 21:43:17.000000',NULL,1,'312','1_6'),(181,NULL,'2024-10-09 22:58:43.000000',NULL,13,'?담뀅??,'13_67'),(182,NULL,'2024-10-09 23:36:59.000000',NULL,15,'djdjdj','15_22'),(183,NULL,'2024-10-09 23:37:02.000000',NULL,15,'dd','15_22'),(184,NULL,'2024-10-10 00:11:54.000000',NULL,15,'?뤵뀥','15_22'),(185,NULL,'2024-10-10 00:11:58.000000',NULL,15,',','15_22'),(186,NULL,'2024-10-10 00:18:52.000000',NULL,11,'rtgf','11_3'),(187,NULL,'2024-10-10 04:55:34.000000',NULL,1,'213213','1_6'),(188,NULL,'2024-10-10 07:31:46.000000',NULL,14,'h7g','15_22'),(189,NULL,'2024-10-10 09:40:33.000000',NULL,14,'wywy','15_22'),(190,NULL,'2024-10-10 09:40:37.000000',NULL,14,'rtyu','15_22'),(191,NULL,'2024-10-10 09:40:44.000000',NULL,14,'wertwert','15_22'),(192,NULL,'2024-10-10 09:41:56.000000',NULL,15,'asdf','15_22'),(193,NULL,'2024-10-10 09:43:15.000000',NULL,14,'asdf','15_22'),(194,NULL,'2024-10-10 09:43:24.000000',NULL,14,'sdfg','15_22'),(195,NULL,'2024-10-10 09:43:40.000000',NULL,14,'wert','15_22'),(196,NULL,'2024-10-10 10:19:58.000000',NULL,13,'213123','13_8'),(197,NULL,'2024-10-10 10:20:02.000000',NULL,13,'111111111111','13_8'),(198,NULL,'2024-10-10 10:21:22.000000',NULL,13,'123123','13_8'),(199,NULL,'2024-10-10 10:21:23.000000',NULL,13,'12313','13_8'),(200,NULL,'2024-10-10 10:21:24.000000',NULL,13,'3','13_8'),(201,NULL,'2024-10-10 10:21:24.000000',NULL,13,'2','13_8'),(202,NULL,'2024-10-10 10:21:25.000000',NULL,13,'213','13_8'),(203,NULL,'2024-10-10 10:21:25.000000',NULL,13,'21321321','13_8'),(204,NULL,'2024-10-10 10:21:25.000000',NULL,13,'321','13_8'),(205,NULL,'2024-10-10 10:21:26.000000',NULL,13,'21','13_8'),(206,NULL,'2024-10-10 10:21:26.000000',NULL,13,'21','13_8'),(207,NULL,'2024-10-10 10:21:27.000000',NULL,13,'12','13_8'),(208,NULL,'2024-10-10 10:21:28.000000',NULL,13,'11213','13_8'),(209,NULL,'2024-10-10 10:21:29.000000',NULL,13,'123123','13_8'),(210,NULL,'2024-10-10 10:21:50.000000',NULL,13,'12312314124321312324234','13_8'),(211,NULL,'2024-10-10 10:21:52.000000',NULL,13,'21321]\\','13_8'),(212,NULL,'2024-10-10 10:21:53.000000',NULL,13,'312','13_8'),(213,NULL,'2024-10-10 10:21:53.000000',NULL,13,'312123','13_8'),(214,NULL,'2024-10-10 10:21:53.000000',NULL,13,'21','13_8'),(215,NULL,'2024-10-10 10:21:54.000000',NULL,13,'213','13_8'),(216,NULL,'2024-10-10 10:21:54.000000',NULL,13,'213321','13_8'),(217,NULL,'2024-10-10 10:21:54.000000',NULL,13,'213','13_8'),(218,NULL,'2024-10-10 13:08:23.000000',NULL,14,'?곥꽩??,'15_22'),(219,NULL,'2024-10-10 13:10:11.000000',NULL,14,'?곥꽩?뉎꽮','15_22'),(220,NULL,'2024-10-10 13:10:14.000000',NULL,15,'?','15_22'),(221,NULL,'2024-10-10 13:10:17.000000',NULL,14,'1212','15_22'),(222,NULL,'2024-10-10 13:11:02.000000',NULL,14,'?덀뀅?곥꽩?뉎꽰?담뀋??,'15_22'),(223,NULL,'2024-10-10 13:11:08.000000',NULL,15,'萸먯빞 ','15_22'),(224,NULL,'2024-10-10 13:11:13.000000',NULL,15,'?! 梨꾪똿!','15_22'),(225,NULL,'2024-10-10 13:11:23.000000',NULL,15,'?대퀝???붿씠??,'15_22'),(226,NULL,'2024-10-10 14:06:55.000000',NULL,14,'wert','15_22'),(227,NULL,'2024-10-10 14:06:57.000000',NULL,14,'wert','15_22'),(228,NULL,'2024-10-10 14:11:34.000000',NULL,14,'asdf','15_22'),(229,NULL,'2024-10-10 14:11:38.000000',NULL,14,'asdf','15_22'),(230,NULL,'2024-10-10 17:16:30.000000',NULL,22,'mlk','13_101'),(231,NULL,'2024-10-10 17:30:48.000000',NULL,22,'?뚮쭏 吏꾩쭨 ?쇰궃??,'13_101'),(232,NULL,'2024-10-10 17:30:51.000000',NULL,22,'?대퀝??!!!!!','13_101'),(233,NULL,'2024-10-10 17:33:48.000000',NULL,22,'?곷돱?담뀠裕⑥뼱裕ㅳ뀚?쀬쑀?쀫㉫','13_101'),(234,NULL,'2024-10-10 17:34:15.000000',NULL,15,'asdf','15_22'),(235,NULL,'2024-10-10 17:52:31.000000',NULL,13,'123123','13_8'),(236,NULL,'2024-10-10 17:52:33.000000',NULL,13,'111','13_8'),(237,NULL,'2024-10-10 17:52:37.000000',NULL,13,'123213','13_8'),(238,NULL,'2024-10-10 17:52:45.000000',NULL,14,'rtyu','15_22'),(239,NULL,'2024-10-10 19:10:01.000000',NULL,2,'111','8_2'),(240,NULL,'2024-10-10 20:06:38.000000',NULL,14,'1','15_22'),(241,NULL,'2024-10-10 20:24:15.000000',NULL,13,'蹂묒닔???섏씠?? -?뺣퉰肄붿튂-','13_39');
/*!40000 ALTER TABLE `chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_room`
--

DROP TABLE IF EXISTS `chat_room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_room` (
  `chatroom_id` bigint NOT NULL AUTO_INCREMENT,
  `client_id` bigint NOT NULL,
  `freelancer_id` bigint NOT NULL,
  PRIMARY KEY (`chatroom_id`),
  KEY `FKr1j3qteajykv9wepsju6iimw1` (`client_id`),
  KEY `FK5buql36ihdlinsmiircyvnnl2` (`freelancer_id`),
  CONSTRAINT `FK5buql36ihdlinsmiircyvnnl2` FOREIGN KEY (`freelancer_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `FKr1j3qteajykv9wepsju6iimw1` FOREIGN KEY (`client_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_room`
--

LOCK TABLES `chat_room` WRITE;
/*!40000 ALTER TABLE `chat_room` DISABLE KEYS */;
INSERT INTO `chat_room` VALUES (10,2,2),(11,11,10),(12,11,4),(13,17,2),(14,17,10),(15,17,4),(16,11,2),(17,18,10),(18,18,4),(19,18,2);
/*!40000 ALTER TABLE `chat_room` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client` (
  `business_name` varchar(255) DEFAULT NULL,
  `business_registration_number` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `FKk1fi84oi1yyuswr40h38kjy1s` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contract`
--

DROP TABLE IF EXISTS `contract`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contract` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `application` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `extra_condition` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contract`
--

LOCK TABLES `contract` WRITE;
/*!40000 ALTER TABLE `contract` DISABLE KEYS */;
/*!40000 ALTER TABLE `contract` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluation`
--

DROP TABLE IF EXISTS `evaluation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluation` (
  `evaluation_id` bigint NOT NULL AUTO_INCREMENT,
  `authority_freedom_score` double DEFAULT NULL,
  `career_benefit_score` double DEFAULT NULL,
  `legal_terms_score` double DEFAULT NULL,
  `progress_score` double DEFAULT NULL,
  `req_change_freq_score` double DEFAULT NULL,
  `req_clarity_score` double DEFAULT NULL,
  `response_time_score` double DEFAULT NULL,
  `short_review` varchar(255) DEFAULT NULL,
  `type` enum('FINAL','MIDDLE') DEFAULT NULL,
  `user_type` enum('CLIENT','FREELANCER') DEFAULT NULL,
  `evaluator_id` bigint DEFAULT NULL,
  `project_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`evaluation_id`),
  KEY `FKtrqokyvat2d5ngqt70acp2edq` (`evaluator_id`),
  KEY `FK3prjptojq513likm8wtocacdy` (`project_id`),
  KEY `FKg3adtoslyrqt73xfau3c86ykh` (`user_id`),
  CONSTRAINT `FK3prjptojq513likm8wtocacdy` FOREIGN KEY (`project_id`) REFERENCES `project` (`project_id`),
  CONSTRAINT `FKg3adtoslyrqt73xfau3c86ykh` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `FKtrqokyvat2d5ngqt70acp2edq` FOREIGN KEY (`evaluator_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluation`
--

LOCK TABLES `evaluation` WRITE;
/*!40000 ALTER TABLE `evaluation` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `framework`
--

DROP TABLE IF EXISTS `framework`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `framework` (
  `framework_id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`framework_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `framework`
--

LOCK TABLES `framework` WRITE;
/*!40000 ALTER TABLE `framework` DISABLE KEYS */;
INSERT INTO `framework` VALUES (1,'React'),(2,'Vue'),(3,'Spring'),(4,'Django'),(5,'etc');
/*!40000 ALTER TABLE `framework` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `freelancer`
--

DROP TABLE IF EXISTS `freelancer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `freelancer` (
  `address` varchar(255) DEFAULT NULL,
  `career_year` int DEFAULT NULL,
  `classification` varchar(255) DEFAULT NULL,
  `github_id` varchar(255) NOT NULL,
  `portfolio_url` varchar(255) DEFAULT NULL,
  `self_introduction` varchar(255) DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `UK3uag9y57eaa2wt2tf6588i8fu` (`github_id`),
  CONSTRAINT `FKnnd9h86ul8v3fho9hh1e7dyqq` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `freelancer`
--

LOCK TABLES `freelancer` WRITE;
/*!40000 ALTER TABLE `freelancer` DISABLE KEYS */;
INSERT INTO `freelancer` VALUES ('愿묒＜愿묒뿭??,2,'publisher','byeongsuLEE','https://github.com/byeongsuLEE','?섎뒗 ?대퀝??,2),('?쒖슱??媛뺣궓援?,1,'ai','hyl0804','https://github.com/hyl0804','?덈깷?덈깷',4),('?쒖슱??媛뺣궓援??쇳삎??,3,'web','wjswlgnsdlqslek','https://github.com/wjswlgnsdlqslek','?섏씠??,10),(NULL,10,'mobile','yjkim9497','https://github.com/yjkim9497',NULL,14),('愿묒＜愿묒뿭??,1,NULL,'mratomi','https://github.com/mratomi','?섎뒗 ?댁콈??,16),('?곕━吏?,3,'web','S-Choi-1997','https://github.com/S-Choi-1997','?대퀝?섑솕?댄똿',22);
/*!40000 ALTER TABLE `freelancer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `freelancer_framework`
--

DROP TABLE IF EXISTS `freelancer_framework`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `freelancer_framework` (
  `freelancer_framework_id` bigint NOT NULL AUTO_INCREMENT,
  `framework_id` bigint NOT NULL,
  `freelancer_id` bigint NOT NULL,
  PRIMARY KEY (`freelancer_framework_id`),
  KEY `FKivwrat052bgoeolbds9p6hpdp` (`framework_id`),
  KEY `FK38br64ntc2y28np1rteasvfdw` (`freelancer_id`),
  CONSTRAINT `FK38br64ntc2y28np1rteasvfdw` FOREIGN KEY (`freelancer_id`) REFERENCES `freelancer` (`user_id`),
  CONSTRAINT `FKivwrat052bgoeolbds9p6hpdp` FOREIGN KEY (`framework_id`) REFERENCES `framework` (`framework_id`)
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `freelancer_framework`
--

LOCK TABLES `freelancer_framework` WRITE;
/*!40000 ALTER TABLE `freelancer_framework` DISABLE KEYS */;
INSERT INTO `freelancer_framework` VALUES (82,3,14),(86,2,16),(87,1,2),(88,2,2),(89,3,2),(91,3,4),(92,5,10),(93,2,10),(94,1,10),(95,4,10),(96,3,10),(104,3,22);
/*!40000 ALTER TABLE `freelancer_framework` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `freelancer_language`
--

DROP TABLE IF EXISTS `freelancer_language`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `freelancer_language` (
  `freelancer_language_id` bigint NOT NULL AUTO_INCREMENT,
  `freelancer_id` bigint NOT NULL,
  `language_id` bigint NOT NULL,
  PRIMARY KEY (`freelancer_language_id`),
  KEY `FK7anh0dmgk3rb120360rbfbssa` (`freelancer_id`),
  KEY `FKrjb0548it8nx4bakglweqhie7` (`language_id`),
  CONSTRAINT `FK7anh0dmgk3rb120360rbfbssa` FOREIGN KEY (`freelancer_id`) REFERENCES `freelancer` (`user_id`),
  CONSTRAINT `FKrjb0548it8nx4bakglweqhie7` FOREIGN KEY (`language_id`) REFERENCES `language` (`language_id`)
) ENGINE=InnoDB AUTO_INCREMENT=159 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `freelancer_language`
--

LOCK TABLES `freelancer_language` WRITE;
/*!40000 ALTER TABLE `freelancer_language` DISABLE KEYS */;
INSERT INTO `freelancer_language` VALUES (131,14,2),(136,16,1),(137,2,3),(138,2,7),(139,2,2),(140,2,1),(142,4,3),(143,10,1),(144,10,2),(145,10,7),(146,10,4),(147,10,6),(148,10,3),(149,10,8),(150,10,5),(158,22,2);
/*!40000 ALTER TABLE `freelancer_language` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `freelancer_project`
--

DROP TABLE IF EXISTS `freelancer_project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `freelancer_project` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `client_signed` bit(1) DEFAULT NULL,
  `freelancer_signed` bit(1) DEFAULT NULL,
  `nft_certificate_hash` varchar(255) DEFAULT NULL,
  `nft_certificate_url` varchar(255) DEFAULT NULL,
  `nft_contract_hash` varchar(255) DEFAULT NULL,
  `nft_contract_url` varchar(255) DEFAULT NULL,
  `freelancer_id` bigint DEFAULT NULL,
  `project_id` bigint DEFAULT NULL,
  `is_make_contract` bit(1) DEFAULT NULL,
  `contract_end_date` datetime(6) DEFAULT NULL,
  `contract_start_date` datetime(6) DEFAULT NULL,
  `contract_created` bit(1) NOT NULL,
  `contract_additional_terms` text,
  `contract_company_name` varchar(255) DEFAULT NULL,
  `contract_confidentiality_clause` text,
  `contract_down_payment` bigint DEFAULT NULL,
  `contract_final_payment` bigint DEFAULT NULL,
  `contract_total_amount` bigint DEFAULT NULL,
  `client_signature_value` varchar(255) DEFAULT NULL,
  `freelancer_signatrue_value` varchar(255) DEFAULT NULL,
  `candidate_name` varchar(255) DEFAULT NULL,
  `period` varchar(255) DEFAULT NULL,
  `project_name` varchar(255) DEFAULT NULL,
  `is_final_client_evaluated` bit(1) NOT NULL,
  `is_final_freelancer_evaluated` bit(1) NOT NULL,
  `is_middle_client_evaluated` bit(1) NOT NULL,
  `is_middle_freelancer_evaluated` bit(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKqmst48qrje4tqfikexdbcs50j` (`freelancer_id`),
  KEY `FKg005sq3wq73t8544xl5pye3h7` (`project_id`),
  CONSTRAINT `FKg005sq3wq73t8544xl5pye3h7` FOREIGN KEY (`project_id`) REFERENCES `project` (`project_id`),
  CONSTRAINT `FKqmst48qrje4tqfikexdbcs50j` FOREIGN KEY (`freelancer_id`) REFERENCES `freelancer` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `freelancer_project`
--

LOCK TABLES `freelancer_project` WRITE;
/*!40000 ALTER TABLE `freelancer_project` DISABLE KEYS */;
/*!40000 ALTER TABLE `freelancer_project` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `language`
--

DROP TABLE IF EXISTS `language`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `language` (
  `language_id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`language_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `language`
--

LOCK TABLES `language` WRITE;
/*!40000 ALTER TABLE `language` DISABLE KEYS */;
INSERT INTO `language` VALUES (1,'Python'),(2,'JAVA'),(3,'C'),(4,'C++'),(5,'PHP'),(6,'Typescript'),(7,'Javascript'),(8,'etc');
/*!40000 ALTER TABLE `language` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project`
--

DROP TABLE IF EXISTS `project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `project` (
  `project_id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `applicants` int DEFAULT NULL,
  `deadline` varchar(255) DEFAULT NULL,
  `deposit` int DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_charged` bit(1) DEFAULT NULL,
  `level` varchar(10) DEFAULT NULL,
  `period` varchar(255) DEFAULT NULL,
  `requirements` varchar(255) DEFAULT NULL,
  `status` enum('FINISH','PENDING','PROGRESS','BEFORE') DEFAULT NULL,
  `step` enum('DEPLOYMENT','DESIGN','DEVELOPMENT','PLANNING','TESTING') DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `board_id` bigint DEFAULT NULL,
  `certificate_url` varchar(255) DEFAULT NULL,
  `client_id` bigint DEFAULT NULL,
  `client_step_confirmed` bit(1) DEFAULT NULL,
  `freelancer_step_confirmed` bit(1) DEFAULT NULL,
  `previous_project_end_date` varchar(255) DEFAULT NULL,
  `previous_project_start_date` varchar(255) DEFAULT NULL,
  `previous_project_end_regist_freelancer_id` bigint DEFAULT NULL,
  PRIMARY KEY (`project_id`),
  UNIQUE KEY `UKi6we1t63cti08ddfelmhr2jtc` (`board_id`),
  KEY `FK8nw995uro0115f1go0dmrtn2d` (`client_id`),
  CONSTRAINT `FK5y79orvb61rgk4bbl519v9vys` FOREIGN KEY (`board_id`) REFERENCES `board` (`board_id`),
  CONSTRAINT `FK8nw995uro0115f1go0dmrtn2d` FOREIGN KEY (`client_id`) REFERENCES `client` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=181 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project`
--

LOCK TABLES `project` WRITE;
/*!40000 ALTER TABLE `project` DISABLE KEYS */;
INSERT INTO `project` VALUES (1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'12312',NULL,'BEFORE',NULL,'?댄빐',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/019ad659-829f-4581-bb21-334ebcb14dd9.pdf',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'12',NULL,NULL,NULL,'?섎뒗 蹂묒닔??,NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/37d0de19-6199-455a-b62d-99e835520943.pdf',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/414d11cb-6494-41ae-a386-5a8cc01885a0.json',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/37b4010a-78e4-41ba-ab14-743ffb928931.json',NULL,_binary '\0',_binary '',NULL,NULL,NULL),(5,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/5355bea0-ee08-4306-8fae-3ede5eeadc1f.json',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(6,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/2c76e8bc-49b6-4dcc-8209-eb5fedce066b.json',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(7,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/28828ba8-1e29-4308-893d-5ea3c991807d.json',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(8,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/f8755c26-b239-46e9-a56b-0bec92279019.json',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/a83cc594-6f8d-406e-8edc-a32d1a585cf5.json',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(10,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/bcd311b6-8432-48a4-86a1-4658684cf3be.json',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(11,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/e2491ecd-4fea-4fd6-b0eb-b06489b36433.json',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(12,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/050b15d1-d1db-4807-a2a9-e6076514ca7f.json',NULL,_binary '\0',_binary '',NULL,NULL,NULL),(13,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/49bb1c03-1794-4db0-a5df-133d055c4d28.json',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(14,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'90',NULL,'PENDING','PLANNING','寃곗젣test',6,NULL,1,_binary '\0',_binary '\0',NULL,NULL,NULL),(15,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10??,NULL,'PROGRESS','DEPLOYMENT','?덈뀞?섎깘',4,NULL,12,_binary '\0',_binary '',NULL,NULL,NULL),(18,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'30??,NULL,'PROGRESS','DEPLOYMENT','STACKUP',2,NULL,8,_binary '\0',_binary '\0',NULL,NULL,NULL),(22,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'7??,NULL,'PENDING','PLANNING',' 梨꾪똿 ?뚯뒪??,3,NULL,11,_binary '\0',_binary '\0',NULL,NULL,NULL),(23,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'25??,NULL,'PENDING','PLANNING','?덈깷',1,NULL,9,_binary '\0',_binary '\0',NULL,NULL,NULL),(31,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'90',NULL,'PENDING','PLANNING','test',12,NULL,15,_binary '\0',_binary '\0',NULL,NULL,NULL),(32,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'365??,NULL,'PROGRESS','DEPLOYMENT','?몄쁺??諛μ감?ㅼ＜湲?,36,NULL,17,_binary '',_binary '\0',NULL,NULL,NULL),(78,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'??,NULL,'PENDING','PLANNING','?뱀쎒??,47,NULL,1,_binary '\0',_binary '\0',NULL,NULL,NULL),(79,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'12??,NULL,'PROGRESS','PLANNING','?섏씠?섏씠',44,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(80,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'12??,NULL,'PROGRESS','DESIGN','test',48,NULL,8,_binary '',_binary '\0',NULL,NULL,NULL),(82,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1111',NULL,'PROGRESS','TESTING','1007 test',55,NULL,8,_binary '\0',_binary '',NULL,NULL,NULL),(83,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'5',NULL,'PROGRESS','DEVELOPMENT','`',53,NULL,13,_binary '',_binary '\0',NULL,NULL,NULL),(84,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'12??,NULL,'PROGRESS','DEPLOYMENT','?롢뀋?롢뀋',45,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(85,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10??,NULL,'PENDING','PLANNING','gdx',8,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(86,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1??,NULL,'PENDING','PLANNING','蹂묒닔?쇱빞?쇱빞?쇱빞?쇱빞?쇱빞',39,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(87,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'40??,NULL,'PROGRESS','DEPLOYMENT','?먯? test',49,NULL,13,_binary '',_binary '\0',NULL,NULL,NULL),(88,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'45',NULL,'PENDING','PLANNING','1231231231231231',52,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(89,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'2',NULL,'PROGRESS','DEPLOYMENT','蹂묒닔???뺤떊李⑤젮??,59,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(90,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/3bd32c7b-3101-43c9-9279-7b29e406508c',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(91,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/42d9eed5-f32f-4001-8b7d-1f880656c489',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(92,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/e25d4885-bc4d-4757-abd0-2f56437d720e',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(93,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/a5566874-498e-4c7a-8e4d-53af8f9cfb4b',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(94,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/45c3b1b4-d9da-47c8-a314-1d4abd30489f',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(95,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/61c3d0a6-2e0c-4578-9eaf-aca970c580af',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(96,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/810882d0-045e-403f-9cf8-6fe2e216b745',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(97,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/596ef471-1f2c-4898-9371-d0aef3d16b52',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(98,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/61f07c1a-7f8c-4ce4-a632-fece8b13fbab',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(99,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/db64654b-d169-4c41-846b-d60547b3112a',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(100,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/f2f58c4a-fba9-4363-8565-797f682a8b24',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(101,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'sdf',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/fc045dd6-ed94-44f3-a1e3-424c2ba96249',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(104,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'50??,NULL,'PROGRESS','TESTING','異붿쿇 ?뚯뒪??',22,NULL,15,_binary '\0',_binary '\0',NULL,NULL,NULL),(105,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'PROGRESS','DESIGN','?섍린 ?レ뼱??,60,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(106,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','DEPLOYMENT','?쇱빞?쇱빞?쇱빞??,61,NULL,13,_binary '\0',_binary '',NULL,NULL,NULL),(107,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','PLANNING','?섎뒗 蹂묒닔??,62,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(108,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'PROGRESS','PLANNING','select',63,NULL,17,_binary '\0',_binary '',NULL,NULL,NULL),(109,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'PROGRESS','DEPLOYMENT','2024-10-09',65,NULL,13,_binary '',_binary '\0',NULL,NULL,NULL),(110,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'PROGRESS','TESTING','???좎닔 ?덈떎',66,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(111,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'PROGRESS','DEPLOYMENT','?↔툑?↔툑',67,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(112,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'PROGRESS','DEPLOYMENT','留덉?留??↔툑',68,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(113,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'PROGRESS','DEPLOYMENT','吏꾩쭨 留덉?留??↔툑',69,NULL,13,_binary '\0',_binary '',NULL,NULL,NULL),(114,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','DEPLOYMENT','李?留덉?留??↔툑',70,NULL,13,_binary '',_binary '\0',NULL,NULL,NULL),(115,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'111',NULL,'PROGRESS','PLANNING','testttttttttttttttttt',71,NULL,8,_binary '\0',_binary '\0',NULL,NULL,NULL),(116,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'11',NULL,'PROGRESS','PLANNING','ttttttttttttttt',72,NULL,8,_binary '\0',_binary '\0',NULL,NULL,NULL),(117,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','DEPLOYMENT','留덉?留??↔툑 ?뚯뒪??,73,NULL,13,_binary '\0',_binary '',NULL,NULL,NULL),(118,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','DEPLOYMENT','吏꾩쭨吏꾩쭨 留덉?留됲뀒?ㅽ듃',74,NULL,13,_binary '',_binary '\0',NULL,NULL,NULL),(119,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'11',NULL,'PROGRESS','PLANNING','?귙뀆?귙뀆?귙뀆?귙뀆?귙뀆?귙뀆?귙뀆??,75,NULL,8,_binary '\0',_binary '\0',NULL,NULL,NULL),(120,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'22',NULL,'PROGRESS','PLANNING','?롢뀕?롢뀕?롢뀕?롢뀕??,76,NULL,8,_binary '\0',_binary '\0',NULL,NULL,NULL),(121,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','PLANNING','?뉎뀋?뉎뀋?뉎뀋?뉎뀋?뉎뀋??,77,NULL,8,_binary '\0',_binary '\0',NULL,NULL,NULL),(122,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','PLANNING','?뗣뀑?뗣뀑?뗣뀑?뗣뀑?뗣뀑?뗣뀑',78,NULL,8,_binary '\0',_binary '\0',NULL,NULL,NULL),(123,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','PLANNING','aaaaaaaaaa',79,NULL,8,_binary '\0',_binary '\0',NULL,NULL,NULL),(124,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'BEFORE',NULL,'?섎뒗 蹂묒닔??',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/ab58bbb4-ffa2-4c33-abe0-2d1c1ea37193.py',NULL,_binary '\0',_binary '\0',NULL,NULL,NULL),(125,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'11',NULL,'PROGRESS','TESTING','qwer',83,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(126,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','DEVELOPMENT','鍮꾨?踰덊샇 ?ㅼ젙?쒕떎',84,NULL,17,_binary '\0',_binary '',NULL,NULL,NULL),(127,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'?섎뒗 蹂묒닔蹂묒닔',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/9d5d5562-a431-4912-b6a6-aa839f4c4087.py',NULL,_binary '\0',_binary '\0','2024-10-04T00:00:00.000Z','2024-10-01T00:00:00.000Z',NULL),(128,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','TESTING','test?낅땲??',86,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(129,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'?섎뒗 蹂묒닔??',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/be77b7ec-8cff-4dba-ac6d-87b6eeaee98d.py',NULL,_binary '\0',_binary '\0','2024-10-30T00:00:00.000Z','2024-10-25T00:00:00.000Z',NULL),(130,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','TESTING','test',88,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(131,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'5',NULL,'PROGRESS','TESTING','吏꾩쭨 ?섎씪',89,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(132,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'10',NULL,'PROGRESS','PLANNING','nft',90,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(133,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'34',NULL,'PROGRESS','PLANNING','sdgfsd',91,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(134,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'56',NULL,'PROGRESS','PLANNING','adsf',92,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(135,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'20',NULL,'PROGRESS','PLANNING','test',93,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(136,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'11',NULL,'PROGRESS','TESTING','dfasdfasdfa',94,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(137,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','DEVELOPMENT','testtest',95,NULL,13,_binary '\0',_binary '',NULL,NULL,NULL),(138,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','PLANNING','?ㅺ렇?섑릟',96,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(139,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','PLANNING','洹몃쭔??,97,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(140,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'22',NULL,'PROGRESS','DEVELOPMENT','洹몃쭔?섏옄',98,NULL,13,_binary '\0',_binary '',NULL,NULL,NULL),(141,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','PLANNING','洹몃옒???,99,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(142,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','PLANNING','?꾨줈?앺듃 洹몃쭔 留뚮뱾??,100,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(143,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','DEVELOPMENT','tesre',101,NULL,13,_binary '\0',_binary '',NULL,NULL,NULL),(144,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','PLANNING','爰꾩븘??,102,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(145,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'25',NULL,'PROGRESS','PLANNING','?ㅽ?踰낆뒪',103,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(146,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'60',NULL,'PROGRESS','PLANNING','洹몃쭔?대씪',104,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(147,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'269',NULL,'PROGRESS','PLANNING','??.. ?꾨줈?앺듃 洹몃쭔! 硫덉떠!',105,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(148,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'100',NULL,'PENDING','PLANNING','pdf??. ?댁젣??醫 ....',106,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(149,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'14',NULL,'PROGRESS','PLANNING','dddd',107,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(150,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'2435',NULL,'PROGRESS','PLANNING','媛??媛??,108,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(151,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'2467',NULL,'PROGRESS','PLANNING','?몄쁺???덈뀞?',109,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(152,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/61ee62c7-0dfe-41e4-b903-439cd8b7bd94.png',NULL,_binary '\0',_binary '\0','2021-10-20T00:00:00.000Z','2020-10-05T00:00:00.000Z',10),(153,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/48175d0c-cb1e-4001-9de7-06693115061c.png',NULL,_binary '\0',_binary '\0','2021-10-20T00:00:00.000Z','2020-10-05T00:00:00.000Z',10),(154,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/bc3736e1-e191-4c60-8328-fcc4db511afa.png',NULL,_binary '\0',_binary '\0','2021-10-20T00:00:00.000Z','2020-10-05T00:00:00.000Z',10),(155,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/3d168f18-89da-4add-9fb7-7ce8b3a448d6.png',NULL,_binary '\0',_binary '\0','2021-10-20T00:00:00.000Z','2020-10-05T00:00:00.000Z',10),(156,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/cb0aba00-1632-4208-ae52-b354249ac3f4.png',NULL,_binary '\0',_binary '\0','2021-10-20T00:00:00.000Z','2020-10-05T00:00:00.000Z',10),(157,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/50a89c92-e466-4029-af9a-a56c6e9f2941.png',NULL,_binary '\0',_binary '\0','2021-10-20T00:00:00.000Z','2020-10-05T00:00:00.000Z',10),(158,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/e2854f7f-c4c8-4a93-9cbd-22bb6336c097.png',NULL,_binary '\0',_binary '\0','2021-10-20T00:00:00.000Z','2020-10-05T00:00:00.000Z',10),(159,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/66b51592-c383-4fc2-b6df-66744273668a.png',NULL,_binary '\0',_binary '\0','2021-10-20T00:00:00.000Z','2020-10-05T00:00:00.000Z',10),(160,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/d2768bd2-c532-45ad-ae1b-8fef784c426f.png',NULL,_binary '\0',_binary '\0','2021-10-20T00:00:00.000Z','2020-10-05T00:00:00.000Z',10),(161,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/37212159-b5fa-484d-afd9-492e64521f8b.png',NULL,_binary '\0',_binary '\0','2021-10-20T00:00:00.000Z','2020-10-05T00:00:00.000Z',10),(162,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'BEFORE',NULL,'C204 怨듯넻 ?꾨줈?앺듃',NULL,'https://worqbucket.s3.ap-northeast-2.amazonaws.com/08317259-6b70-4416-b847-4528465d6488.png',NULL,_binary '\0',_binary '\0','2021-10-20T00:00:00.000Z','2020-10-05T00:00:00.000Z',10),(163,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'30',NULL,'PROGRESS','DEVELOPMENT','nft',111,NULL,11,_binary '\0',_binary '',NULL,NULL,NULL),(164,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'213',NULL,'PROGRESS','PLANNING','留덉?留?test',110,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(165,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'1',NULL,'PROGRESS','PLANNING','pdf',112,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(166,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'11',NULL,'PROGRESS','DEVELOPMENT','test',113,NULL,13,_binary '\0',_binary '',NULL,NULL,NULL),(167,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'12',NULL,'PROGRESS','PLANNING','123123',114,NULL,17,_binary '\0',_binary '\0',NULL,NULL,NULL),(168,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'11',NULL,'PROGRESS','DEVELOPMENT','?끹꽬?끹뀍',115,NULL,13,_binary '\0',_binary '',NULL,NULL,NULL),(169,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'12',NULL,'PROGRESS','PLANNING','?몄쁺??',116,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(170,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'5',NULL,'PROGRESS','DEPLOYMENT','?몄쁺5',120,NULL,13,_binary '',_binary '\0',NULL,NULL,NULL),(171,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'3',NULL,'PROGRESS','PLANNING','gdgd',121,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(172,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'3',NULL,'PROGRESS','PLANNING','?몄쁺2',117,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(173,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'3',NULL,'PROGRESS','PLANNING','?몄쁺4',119,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(174,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'12',NULL,'PROGRESS','PLANNING','gggggdddd',122,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(175,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'14',NULL,'PROGRESS','PLANNING','dfasdfwefwf',123,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(176,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'2',NULL,'PROGRESS','PLANNING','?몄쁺3',118,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(177,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'12',NULL,'PROGRESS','PLANNING','rgerherhergerg',125,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(178,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'3',NULL,'PROGRESS','PLANNING','ekjghelrgheio',126,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(179,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'11',NULL,'PROGRESS','PLANNING','媛?섎떎?쇰쭏諛붿궗?꾩옄李⑥뭅',129,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL),(180,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'3',NULL,'PROGRESS','PLANNING','?깆냼援먦뀚?룹꽏??,130,NULL,13,_binary '\0',_binary '\0',NULL,NULL,NULL);
/*!40000 ALTER TABLE `project` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `dtype` varchar(31) NOT NULL,
  `user_id` bigint NOT NULL AUTO_INCREMENT,
  `account_key` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `main_account` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `reported_count` int DEFAULT NULL,
  `second_password` varchar(255) DEFAULT NULL,
  `total_score` double DEFAULT NULL,
  `public_key` varchar(255) DEFAULT NULL,
  `user_address` varchar(255) DEFAULT NULL,
  `evaluated_count` int DEFAULT NULL,
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES ('Client',1,NULL,'evil55@naver.com','qwsxtcKa9hPamV4IdI6LqEPqr+7w49iMp9cRFZQnTm4=','?덉쭊??,'987-654-3210',3,NULL,4.05,'6aa576fb898245a5971a9d81a61fcdb4','0x0a623a850f2a6e8eaa2db76b5e03a32fb3fdce12f01e9b00c4b129b07465920401af32dfbcd610892ba08d64fb8fcffb432da99b019d4204094492b8590c501c1b',3),('Freelancer',2,'5567485e-be47-45b4-8d74-8c156097f149','lbs@stackup.com','qfdddyGrxodPAYoV65rN5kPqr+7w49iMp9cRFZQnTm4=','?대퀝??,'010-2345-6789',0,NULL,3.6798076923076923,NULL,NULL,26),('Client',3,NULL,'evil555@naver.com',NULL,'?대퀝??,'987-654-3210',0,NULL,0,NULL,NULL,0),('Freelancer',4,'ea6e194b-ae91-45dc-bc73-ccb8b1c37768','hoing0804@naver.com','7UqIbJXTHO/+NaP01ps1h0Pqr+7w49iMp9cRFZQnTm4=','?댄샇??,'010-1234-1234',0,NULL,4.2,NULL,NULL,10),('Client',5,NULL,'ssafy@ssafy.com',NULL,'?댄샇??,'010-1234-1234',0,NULL,0,NULL,'1234',0),('Client',6,NULL,'ssafy1234@ssafy.com',NULL,'?덈깷','010-1234-5678',0,NULL,0,NULL,NULL,0),('Client',7,NULL,'hoo4053@naver.com',NULL,'?댄샇??,'010-1234-1234',0,NULL,0,NULL,NULL,0),('Client',8,NULL,'ssafy4053@ssafy.com',NULL,'?댄샇??,'010-1234-1234',0,NULL,0,NULL,NULL,0),('Client',9,NULL,'1234@1234.com',NULL,'?덈깷?섎깘','010-1234-5678',0,NULL,0,NULL,NULL,0),('Freelancer',10,NULL,'test1@test.com',NULL,'?꾩???,'010-1234-5678',1,NULL,3,NULL,NULL,1),('Client',11,NULL,'test001@test.com',NULL,'?꾩???,'010-1234-5678',0,NULL,3,NULL,NULL,1),('Client',12,'b46532d5-d470-4c86-ab1d-fcda167db5bd','ssafy@naver.com',NULL,'?덈깷?섎깘','010-1234-5678',0,NULL,0,NULL,NULL,0),('Client',13,'e7bf53e3-5dd5-4b4d-b151-e802c78df75b','adimin@stackup.com','qwsxtcKa9hPamV4IdI6LqEPqr+7w49iMp9cRFZQnTm4=','?덈깷?섎깘','010-2345-6789',0,'$2a$10$pZyKD/418.Qm/nsMYRnUR.56adMF1qh2KEAdi3emTTNlkr1F22oXa',3.857142857142857,NULL,NULL,14),('Freelancer',14,'85ea7b07-cc04-42f2-93d8-287aa13b9a7f','yeonji@stakup.com','/Pgfwm+aRFZwL6Vncs4+sUPqr+7w49iMp9cRFZQnTm4=','源?곗?',NULL,0,'$2a$10$DzMMFOoWS1rROpJDT9m9fe.arvec.ENxfhapM2QPw8.TxeXFfX4kK',5.766666666666667,NULL,NULL,9),('Client',15,NULL,'admin12@stackup.com','/Pgfwm+aRFZwL6Vncs4+sUPqr+7w49iMp9cRFZQnTm4=',NULL,NULL,1,NULL,3.420000000000001,NULL,NULL,15),('Freelancer',16,NULL,'ssafy12@naver.com',NULL,'?댁콈??,'010-1234-1234',0,NULL,0,NULL,NULL,0),('Client',17,'f147a590-d743-45cb-a7e0-23262a41dc59','admin@ssafy.com',NULL,'?댁콈??,'010-7856-4256',0,NULL,3,NULL,'0x93080e773911CC7c9502036750a6A97Aa67270EB',1),('Client',18,NULL,'test002@test.com',NULL,'?꾩???,'01000000000',0,NULL,0,NULL,NULL,0),('Client',19,'1816e224-3f4c-42e0-8aff-8939713d0e3a','stackup12@stackup.com',NULL,NULL,NULL,0,NULL,0,'b8ee0c4d289e485da44290750739c49b',NULL,0),('Client',20,NULL,'clienttest@naver.com',NULL,'?대씪?댁뼵??,'987-654-3210',0,NULL,0,NULL,NULL,0),('Client',21,NULL,'ssafycsh@gmail.com',NULL,'理쒖듅??,'01097405510',0,NULL,0,NULL,NULL,0),('Freelancer',22,NULL,'ssafycsh@gmail.com',NULL,'理쒖듅??,'01000000000',0,NULL,5,NULL,NULL,1);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_project`
--

DROP TABLE IF EXISTS `user_project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_project` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `project_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKocfkr6u2yh3w1qmybs8vxuv1c` (`project_id`),
  KEY `FKpw81exe7fsdl7mddqujvu91kx` (`user_id`),
  CONSTRAINT `FKocfkr6u2yh3w1qmybs8vxuv1c` FOREIGN KEY (`project_id`) REFERENCES `project` (`project_id`),
  CONSTRAINT `FKpw81exe7fsdl7mddqujvu91kx` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_project`
--

LOCK TABLES `user_project` WRITE;
/*!40000 ALTER TABLE `user_project` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_project` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_roles` (
  `user_id` bigint NOT NULL,
  `role` varchar(255) DEFAULT NULL,
  KEY `FK55itppkw3i07do3h7qoclqd4k` (`user_id`),
  CONSTRAINT `FK55itppkw3i07do3h7qoclqd4k` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
INSERT INTO `user_roles` VALUES (1,'ROLE_CLIENT'),(2,'ROLE_FREELANCER'),(3,'ROLE_CLIENT'),(4,'ROLE_FREELANCER'),(5,'ROLE_CLIENT'),(6,'ROLE_CLIENT'),(7,'ROLE_CLIENT'),(8,'ROLE_CLIENT'),(9,'ROLE_CLIENT'),(10,'ROLE_FREELANCER'),(11,'ROLE_CLIENT'),(12,'ROLE_CLIENT'),(13,'ROLE_CLIENT'),(14,'ROLE_FREELANCER'),(15,'ROLE_CLIENT'),(16,'ROLE_FREELANCER'),(17,'ROLE_CLIENT'),(18,'ROLE_CLIENT'),(19,'ROLE_CLIENT'),(20,'ROLE_CLIENT'),(21,'ROLE_CLIENT'),(22,'ROLE_FREELANCER');
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-10-10 11:36:07
